<div class="recipe-details container contained">
  <section class="formview fade" :class="preview ? 'out' : 'in'">
    <div v-if="! acapID">
      <p>No recipe was provided.</p>
      <p>Please return to the listing or cards and click to choose an item.</p>
    </div>
    <div v-if="acapID" materialize>
      <form id="rdForm" @submit.prevent="onSubmit(actionContext+'-actions-bar')">
        <actions-bar
          :canCancel="false"
          :canReset="isModified"
          :canPreview="id !== undefined"
          :canSave="true"
          :valid="valid"
          :isModified="isModified"
          @cancel="onCancel"
          @reset="onReset"
          @preview="openPreview"
        ></actions-bar>
        <div class="row">
          <div class="col s12 center-align">
            <div class="switch">
              <label>
                Un-Published
                <input name="published" v-model="published" type="checkbox" />
                <span class="lever"></span> Published
              </label>
            </div>
          </div>
        </div>
        <!--We're not allowing title to be set in this form
    <div class="row">
        <div class="input-field col s12">
            <input class="validate" name="title" v-model="title" placeholder="Recipe Name/Title" type="text" ngControl="title" required>
            <label>Recipe Title</label>
            <div v-if="title && title.dirty && ! title.valid">
                <p class="amber accent-1" v-if="title.errors.required">
                    Please include a title before saving.
                </p>
            </div>
        </div>
    </div>
    -->
        <div class="row">
          <div class="input-field col s12">
            <input id="rSubTitle" name="subTitle" v-model="subTitle" placeholder="Recipe Sub-Title" type="text" />
            <label for="rSubTitle"
              >Recipe Sub-Title
              <em>(optional)</em>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="rCreator" name="creator" v-model="creator" placeholder="Creator Name/Attribution" type="text" />
            <label for="rCreator">Original Creator</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="rOrigUrl" name="originalUrl" v-model="originalUrl" placeholder="Address where originally published" type="url" />
            <label for="rOrigUrl">Originaly Published URL</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea
              id="rDescript"
              class="materialize-textarea"
              name="description"
              placeholder="Brief and Catchy Description"
              rows="2"
              v-model="description"
            ></textarea>
            <label for="rDescript">Description</label>
          </div>
        </div>
        <!--rating-comp-->
        <!--recipe-tips-->
        <div class="row tools">
          <fieldset class="col s12">
            <legend>Tools You May Need</legend>
            <div class="row" v-for="(tool, idx) in tools" :key="idx">
              <div class="input-field col s12 m6">
                <input :id="`tool-${idx}`" name="`tool-${idx}`" v-model="tool.name" placeholder="Name this Tool" type="text" />
                <label :for="`tool-${idx}`" class="sr-only sr-only-focusable">Tool Name</label>
              </div>
              <div class="input-field col s6 m3 center-align">
                <input :id="`tool-${idx}-req`" :name="`tool-${idx}-req`" v-model="tool.required" placeholder="required?" type="checkbox" />
                <label :for="`tool-${idx}-req`">Required?</label>
              </div>
              <div class="input-field col s6 m3 center-align">
                <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem({prop: 'tools', index: idx})">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <button class="btn btn-sm grey lighten-5" type="button" @click="addItem({prop: 'tools'})">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>
          </fieldset>
        </div>
        <ingredient-groups @addItem="addItem" @deleteItem="deleteItem" />
        <method-groups @addItem="addItem" @deleteItem="deleteItem" />
        <div class="row vars">
          <fieldset class="col s12">
            <legend>Recipe Variations</legend>
            <div class="row" v-for="(variation, idx) in variations" :key="idx">
              <div class="input-field col s12 m10">
                <textarea
                  class="materialize-textarea"
                  name="`variations-${idx}`"
                  v-model="variation.text"
                  placeholder="Variation Content"
                ></textarea>
              </div>
              <div class="input-field col s12 m2 center-align">
                <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem({prop: 'variations', index: idx})">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <button class="btn btn-sm grey lighten-5" type="button" @click="addItem({prop: 'variations'})">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="row tags">
          <fieldset class="col s12">
            <legend>Tags</legend>
            <div class="row" v-for="(tag, idx) in tags" :key="idx">
              <div class="input-field col s8">
                <input :name="`tag-${idx}-text`" v-model="tag.text" placeholder="Hash-Tag" type="text" />
              </div>
              <div class="input-field col s4 center-align">
                <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem({prop: 'tags', index: idx})">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <button class="btn btn-sm grey lighten-5" type="button" @click="addItem({prop: 'tags'})">
                  <i class="material-icons">add</i>
                </button>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="row notes">
          <fieldset class="col s12">
            <legend>*Notes</legend>
            <div class="row">
              <div class="input-field col s12">
                <textarea class="materialize-textarea" name="note" v-model="notes" placeholder="Enter Notes..."> </textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="row">
          <div class="col s12 notifs">
            <notifs-local :action-context="actionContext+'-actions-bar'" />
          </div>
        </div>
        <actions-bar
          v-bind="{canCancel: false, canReset: isModified, canPreview: id !== undefined, canSave: true, isModified, valid}"
          v-on:cancel="onCancel"
          v-on:reset="onReset"
          v-on:preview="openPreview"
        ></actions-bar>
      </form>
    </div>
  </section>
  <transition v-if="preview" name="preview" appear>
    {{preview}}
    <recipe-preview @close="closePreview" v-bind="{transformMarkdown}"></recipe-preview>
  </transition>
</div>
