.mb-sm {
  margin-bottom: 0.5rem;
}

.mb-md {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.details .notifs {
  p {
    line-height: 1.9;
    margin: 0 0 1rem;

    > i {
      margin-right: 0.3em;

      &.info {
        color: #bdbdbd;
      }

      &.warn {
        color: #ffab00;
      }

      &.error {
        color: #e57373;
      }

      &.fatal {
        color: #b71c1c;
      }
    }
  }
}
